<div>

    <p>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Produto" [(ngModel)]="savedText">
        </mat-form-field>
    
    </p>

    <p>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Quantidade" [(ngModel)]="savedQuantidade">
        </mat-form-field>
    </p>
    <button mat-fab extended color="primary" (click)="AddItem()">
        Adicionar
    </button>
    
</div>
<ul>
    <li>
      <p><mat-checkbox [(ngModel)]="mostrarComprados">Não mostrar itens já comprados</mat-checkbox></p>
    </li>
    @for (item of list; track item.produto)
    {
        @if (!item.comprado || mostrarComprados)
        {
        <li>
            <p><mat-checkbox [(ngModel)]="item.comprado">{{item.produto}} - {{item.quantidade}}</mat-checkbox></p>
            <button mat-button color="accent" (click)="editar(item.produto)">Editar</button>
            <button mat-button color="warn" (click)="RemoveItem(item.produto)">Excluir</button>
        </li>
        }
    }
</ul>